---
import Container from "./Container.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-40 md:pt-44 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1
          class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
        >
          Hack the Wave is San Diego's <span
            class="text-primary dark:text-white">premier</span
          > high school hackathon.
        </h1>
        <p class="mt-8 text-gray-700 dark:text-gray-300">
          Excited to participate in twenty-four hours of coding, connection, and
          fun? This September, Hack the Wave is open to students of any skill
          level between the ages of 13-18. You're in for a great time!
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href="https://airtable.com/shr2YMyZBETDnOlrP"
            target="_blank"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Register Now</span
            >
          </a>
          <a
            href="https://bank.hackclub.com/donations/start/hack-the-wave"
            target="_blank"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
          >
            <span
              class="relative text-base font-semibold text-primary dark:text-white"
              >Donate</span
            >
          </a>
        </div>
        <div class="mt-32 text-center lg:mt-20">
          <span
            class="uppercase text-sm font-semibold tracking-wider text-gray-800 dark:text-white"
            >A huge thank you to our sponsors</span
          >
          <div class="slider">
            <div
              class="slide-track mt-8 grid grid-cols-3 sm:grid-cols-5 md:grid-cols-6"
            >
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.hackclub.com" target="_blank">
                  <img
                    src="https://assets.hackclub.com/flag-standalone.svg"
                    class="h-7 w-auto mx-auto"
                    alt="hack club logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.clickup.com" target="_blank">
                  <img
                    src="/images/sponsors/clickup-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="clickup logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.nuvasive.com" target="_blank">
                  <img
                    src="/images/sponsors/nuvasive-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="nuvasive logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.desmos.com" target="_blank">
                  <img
                    src="/images/sponsors/desmos-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="desmos logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.sublimehq.com" target="_blank">
                  <img
                    src="/images/sponsors/sublime-hq-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="sublime hq logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.taskade.com" target="_blank">
                  <img
                    src="/images/sponsors/taskade-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="taskade logo"
                  />
                </a>
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.hackclub.com" target="_blank">
                  <img
                    src="https://assets.hackclub.com/flag-standalone.svg"
                    class="h-7 w-auto mx-auto"
                    alt="hack club logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.clickup.com" target="_blank">
                  <img
                    src="/images/sponsors/clickup-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="clickup logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.nuvasive.com" target="_blank">
                  <img
                    src="/images/sponsors/nuvasive-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="nuvasive logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.desmos.com" target="_blank">
                  <img
                    src="/images/sponsors/desmos-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="desmos logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.sublimehq.com" target="_blank">
                  <img
                    src="/images/sponsors/sublime-hq-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="sublime hq logo"
                  /></a
                >
              </div>
              <div
                class="slide grayscale transition duration-200 hover:grayscale-0"
              >
                <a href="https://www.taskade.com" target="_blank">
                  <img
                    src="/images/sponsors/taskade-logo.svg"
                    class="h-7 w-auto mx-auto"
                    alt="taskade logo"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>

<style lang="scss">
  @mixin gradient {
    background: linear-gradient(
      to right,
      rgba(9, 14, 26, 1) 0%,
      rgba(9, 14, 26, 0) 100%
    );
  }
  $animationSpeed: 25s;
  $logoNum: 6;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-12rem * $logoNum));
    }
  }

  .slider {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      @include gradient;
      content: "";
      z-index: 2;
      position: absolute;
      height: 100%;
      width: 10rem;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(12rem * $logoNum * 2);
    }

    .slide {
      width: 12rem;
      position: relative;
    }
  }
</style>
