---
import Container from "./Container.astro";
---

<div class="my-32" id="team">
  <Container>
    <div class="mb-16">
      <h2
        class="mb-4 text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
      >
        Meet the team
      </h2>
      <p
        class="text-center text-gray-600 dark:text-gray-300 lg:mx-auto lg:w-8/12"
      >
        We're a group of high school students from Canyon Crest Academy who want
        to help you spark your passion for all things tech. This hackathon is
        the culmination of our months-long effort to make that a reality.
      </p>
    </div>
    <div class="grid gap-12 md:grid-cols-3">
      <div class="space-y-6 text-center">
        <img
          class="mx-auto h-64 w-64 rounded-full object-cover md:h-40 md:w-40 lg:h-64 lg:w-64"
          src="images/woman1.jpg"
          alt="woman"
          loading="lazy"
          width="640"
          height="805"
          style="background:black"
        />
        <div>
          <h4 class="text-2xl text-gray-700 dark:text-white">Melinda Chang</h4>
          <span class="block text-sm text-gray-500">Director</span>
        </div>
      </div>
      <div class="space-y-6 text-center">
        <img
          class="mx-auto h-64 w-64 rounded-full object-cover md:h-40 md:w-40 lg:h-64 lg:w-64"
          src="images/woman.jpg"
          alt="woman"
          loading="lazy"
          width="1000"
          height="667"
          style="background:black"
        />
        <div>
          <h4 class="text-2xl text-gray-700 dark:text-white">Annika Xuan</h4>
          <span class="block text-sm text-gray-500">Outreach</span>
        </div>
      </div>
      <div class="space-y-6 text-center">
        <img
          class="mx-auto h-64 w-64 rounded-full object-cover md:h-40 md:w-40 lg:h-64 lg:w-64"
          src="images/woman.jpg"
          alt="woman"
          loading="lazy"
          width="1000"
          height="667"
          style="background:black"
        />
        <div>
          <h4 class="text-2xl text-gray-700 dark:text-white">Sophie Shi</h4>
          <span class="block text-sm text-gray-500">Logistics</span>
        </div>
      </div>
    </div>
  </Container>
</div>
