---
import Container from "./Container.astro";
---

<div id="schedule">
  <Container>
    <section class="antialiased">
      <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
        <div class="max-w-3xl mx-auto text-center">
          <h2
            class="text-4xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white"
          >
            Schedule
          </h2>

          <div class="flow-root max-w-3xl mx-auto mt-8 sm:mt-12 lg:mt-16">
            <div class="-my-4 divide-y divide-gray-200 dark:divide-gray-700">
              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  09:00 AM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Check-In / Breakfast
                </h3>
              </div>

              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  09:30 AM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Opening Ceremony
                </h3>
              </div>

              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  11:00 AM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white text-left">
                  <span class="text-gray-500">Workshop:</span> Buid an AI Trip Planner (Intermediate)<br /> <span class="text-gray-500">Workshop:</span> Build a JavaScript Stopwatch (Beginner)
                </h3>
              </div>

              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  12:30 PM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Lunch
                </h3>
              </div>

              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  02:00 PM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Scavenger Hunt
                </h3>
              </div>

              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  03:00 PM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    <span class="text-gray-500">Workshop:</span> Build a Web-Based AR App (Intermediate)
                </h3>
              </div>

              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  05:30 PM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Dinner
                </h3>
              </div>

              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  07:00 PM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Ice Cream + <a class="underline text-blue-400" href="https://hastebin.com/share/misabihixe.vbnet" target="_blank">Spotify Jam Session</a>
                </h3>
              </div>

              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  08:00 PM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Presentations
                </h3>
                </h3>
              </div>

              <div
                class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center"
              >
                <p
                  class="w-32 text-lg font-normal text-gray-500 sm:text-right dark:text-gray-400 shrink-0"
                >
                  08:45 PM
                </p>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                  Closing Ceremony
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </Container>
</div>
