---
import SponsorSlide from "./SponsorSlide.astro";

const entries = [
  {
    url: "https://www.hackclub.com",
    imgPath: "https://assets.hackclub.com/flag-standalone.svg",
    alt: "hack club logo",
  },
  {
    url: "https://www.clickup.com",
    imgPath: "/images/sponsors/clickup-logo.svg",
    alt: "clickup logo",
  },
  {
    url: "https://www.nuvasive.com",
    imgPath: "/images/sponsors/nuvasive-logo.svg",
    alt: "nuvasive logo",
  },
  {
    url: "https://www.wolfram.com",
    imgPath: "/images/sponsors/wolfram-logo.svg",
    alt: "wolfram logo"
  },
  {
    url: "https://www.desmos.com",
    imgPath: "/images/sponsors/desmos-logo.svg",
    alt: "desmos logo",
  },
  {
    url: "https://www.sublimehq.com",
    imgPath: "/images/sponsors/sublime-hq-logo.svg",
    alt: "sublime hq logo",
  },
  {
    url: "https://www.taskade.com",
    imgPath: "/images/sponsors/taskade-logo.svg",
    alt: "taskade logo",
  }
];
---

<div class="mt-32 text-center lg:mt-20">
  <span
    class="uppercase text-sm font-semibold tracking-wider text-gray-800 dark:text-white"
    >A huge thank you to our sponsors</span
  >
  <div class="slider">
    <div
      class="slide-track mt-8 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5"
    >
      {
        entries
          .concat(entries)
          .map((e) => (
            <SponsorSlide url={e.url} imgPath={e.imgPath} alt={e.alt} />
          ))
      }
    </div>
  </div>
</div>

<style lang="scss">
  @mixin gradient {
    background: linear-gradient(
      to right,
      rgba(9, 14, 26, 1) 0%,
      rgba(9, 14, 26, 0) 100%
    );
  }
  $animationSpeed: 25s;
  $logoNum: 6;

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-14rem * $logoNum));
    }
  }

  .slider {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      @include gradient;
      content: "";
      z-index: 2;
      position: absolute;
      height: 100%;
      width: 10rem;
      pointer-events: none;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(14rem * $logoNum * 2);
    }
  }
</style>
