---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="title"
      content="Hack the Wave | San Diego's premier high school hackathon!"
    />
    <meta
      name="description"
      content="Hack the Wave is a San Diego-based hackathon run for high schoolers, by high schoolers. We invite kids passionate about tech from all over the county to come together for twenty-four hours, where they can build software or hardware projects from scratch and compete for cool prizes. All experience levels are welcome!"
    />
    <meta
      name="keywords"
      content="hack the wave, hackathon, high school, coding, programming, code, event, hack, hacker, hackers, hackathons, tech, high schooler, student, students, high schoolers, san diego, california, cali, sd"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Melinda Chang" />

    <title>Hack the Wave | San Diego's premier high school hackathon!</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white dark:bg-darker">
    <AppHeader />
    <slot />
    <AppFooter />
  </body>
</html>
<style>
  html {
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }
</style>
